
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0%;
    padding: 0%;
}

:root{
       --main-color: (#2B2038);
}
body{
    background-color :#2D2D2D;
    color: white;
}

/* HEADER */

header{
height: 70px;
background-color: #2D2D2D;
display: flex;
justify-content: space-between;
align-items: center;
padding: 26px 71px;
}

header .logo{
    display:flex ;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

header .logo img{
    width: 30px;
    height: 30px;
}


header .logo h3{
    font-size: 16px;
    font-weight: 600;
}


header nav{
display: flex;
justify-content: center;
}

header nav ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  
}

header nav ul li {
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 16px;
    font-weight: 600;

    
}

header nav ul li a:hover{
    text-decoration: underline;
    color: #AC6CFF;
    
}

header .btn{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



header #color-1{
    font-size: 16px;
    font-weight: 600;
    background-color: #2D2D2D;
    padding: 12px 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;

}

header #color-2{
    font-size: 16px;
    font-weight: 600;
    background-color: #AC6CFF;
    padding: 12px 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* SECTION--1 */

.first-section{
    padding: 26px 71px;
}

.first-section .main-section{
    display: flex;
    justify-content: space-between;
    
}

.first-section .main-section .right-side{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}
.first-section .main-section .right-side h1{
    font-size: 61px;
    font-weight: bold;
    line-height: 130%;
}

.first-section .main-section .right-side h1 span{
    color: #AC6CFF;
}

.first-section .main-section .right-side p{
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.first-section .main-section .right-side .banner-btn{
    display: flex;
    gap: 19px;
}

.first-section .main-section .right-side .banner-btn button{
    padding: 25px 50px;
    border-radius: 15px;
    transition: (all 2s ease-in-out);
}

.first-section .main-section .right-side .banner-btn button:hover{
    transform: scale(1.1);
    background-color: #AC6CFF;
}